
.vs/ProjectSettings.json
.vs/QuizPi/v17/.wsuo
.vs/QuizPi/v17/TestStore/0/000.testlog
.vs/QuizPi/v17/TestStore/0/testlog.manifest
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
QuizPi/QuizPi/.vs/QuizPi/FileContentIndex/1266b350-05b0-49a6-a122-dd841b9acad7.vsidx
QuizPi/QuizPi/.vs/QuizPi/FileContentIndex/read.lock
QuizPi/QuizPi/.vs/QuizPi/v17/TestStore/0/000.testlog
QuizPi/QuizPi/.vs/QuizPi/v17/TestStore/0/testlog.manifest
