################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QuizPi/QuizPi/.vs/QuizPi/FileContentIndex
QuizPi/QuizPi/.vs/phptasks.json
QuizPi/QuizPi/.vs/QuizPi/v17/.suo
QuizPi/QuizPi/.vs/QuizPi/v17/TestStore/0/000.testlog
QuizPi/QuizPi/.vs/QuizPi/v17/.suo
QuizPi/QuizPi/.vs/QuizPi/v17/TestStore/0/testlog.manifest
QuizPi/QuizPi/.vs/QuizPi/DesignTimeBuild/.dtbcache.v2
