body {
    background-color: #A47F66;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

footer {
    margin-top: auto;
    color: white;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 80px;
}

.menu, a {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0;
    gap: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu li {
   margin: 0 15px;
}

.menu a {
   text-decoration: none;
   color: white; 
}

h1, h3, form, div{
    text-align: center; 
    color: white; 
}

#secondSelectionContainer {
    display: none;
}

#thirdSelectionContainer {
    display: none;
}

#fourthSelectionContainer {
    display: none;
}

#button-space {
    margin: 10px;
}

.userName {
    text-align: center
}

.proPic {
    border: 5px solid black;
    padding: 15px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.menuLink {
    text-decoration: none;
    color: black;
}

.scoreDiv {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.mainDiv {
    text-align: center;
}

.innerDivs {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

a {
    font-size: 20px;
}

#updateBtn {
    /*border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;*/
    cursor: pointer;
}